<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malidong.seckill.mapper.SeckillOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.malidong.seckill.pojo.SeckillOrder">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="order_id" property="orderId" />
        <result column="goods_id" property="goodsId" />
    </resultMap>

    <insert id="insertAll" parameterType="com.malidong.seckill.pojo.SeckillOrder" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into seckill.t_seckill_order (user_id, order_id, goods_id)
        values (#{userId}, #{orderId}, #{goodsId})
    </insert>
    <select id="selectByUserId" resultType="com.malidong.seckill.pojo.SeckillOrder">
        select * from t_seckill_order where user_id = #{userId} and goods_id = #{goodsId}
    </select>

</mapper>
